# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter / notebook cache
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Training outputs
outputs/

# Model checkpoints
*.pt
*.pth

# Local environment files
.env

# IDE files
.vscode/
.idea/
